body {
  max-width: 1152px;
  height: 700px;
  background-color: #370617;
}

.container {
  max-width: 468px;
  height: 160px;
  margin: 90px 26px 20px 92px;
  display: flex;
  background-color: #f48c06;
  border: #f48c06;
  border-radius: 8px;
}

.card {
  max-width: 78px;
  width: 100%;
  height: 78px;
  margin: 20px;
  padding: 15px;
  background-color: #9d0208;
}

.container1 {
  justify-content: flex-start;
}

.container3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
