body {
  max-width: 1152px;
  height: 800px;
  background-color: white;
}

.container {
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  border: white solid 3px;
  border-radius: 8px;
}

.flex-container {
  width: 468px;
  height: 250px;
  border: black solid 3px;
  margin-bottom: 20px;
  margin-right: 26px;
  margin-top: 70px;
}

.card {
  width: 78px;
  min-height: 78px;
  margin: 20px;
  padding: 15px;
  background-color: #9d0208;
}

.container1 {
  display: flex;
  align-items: flex-start;
}

.container2 {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.container3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container5 {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.container6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-self {
  align-self: flex-end;
}

.align-self2 {
  align-self: center;
}

.grow-item {
  flex-grow: 3;
}
